<dx-data-grid
  class="trips-datagrid"
  [dataSource]="fishingGroups"
  [width]="'90%'"
  [showBorders]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
>
  <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[5, 10, 15]"
    [showInfo]="true"
    [visible]="true"
  >
  </dxo-pager>
  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="creator"></dxi-column>
  <dxi-column dataField="description"></dxi-column>
  <dxi-column
    dataField="users"
    [caption]="'No. of users'"
    cellTemplate="usersTemplate"
  >
    <div *dxTemplate="let data of 'usersTemplate'">
      {{ getNumberOfUsers(data) }}
    </div>
  </dxi-column>
  <dxi-column
    dataField="actions"
    [caption]="'Actions'"
    cellTemplate="actionTemplate"
    [width]="75"
  >
    <div
      *dxTemplate="let data of 'actionTemplate'"
      class="actions-template"
      id="data-grid-row"
    >
      <dx-button
        *ngIf="canModifyFishingGroup(data)"
        [stylingMode]="'text'"
        (onClick)="openEditFishingGroupDialog(data)"
        [disabled]="!isConnected()"
      >
        <div class="fas fa-edit"></div>
      </dx-button>
      <dx-button
        *ngIf="canModifyFishingGroup(data)"
        [stylingMode]="'text'"
        (onClick)="openDeleteDialog(data)"
        [disabled]="!isConnected()"
      >
        <div class="fas fa-trash"></div>
      </dx-button>
    </div>
  </dxi-column>
  <dxo-toolbar>
    <dxi-item location="before" text="Fishing Groups"></dxi-item>
    <dxi-item location="after">
      <dx-button
        *ngIf="isLoggedIn()"
        stylingMode="text"
        icon="fas fa-plus"
        hint="Add trip"
        (onClick)="openAddFishingGroupPopup()"
        [disabled]="!isConnected()"
      ></dx-button>
    </dxi-item>
  </dxo-toolbar>
</dx-data-grid>
<dx-popup
  *ngIf="addFishingGroupBool"
  [visible]="true"
  [title]="'Add a Fishing group'"
  (onHiding)="closeAddFishingGroupPopup()"
  [height]="'auto'"
  [width]="500"
>
  <div *dxTemplate="let data of 'content'">
    <form [formGroup]="addFishingGroupForm">
      <div>Name</div>
      <dx-text-box formControlName="name"></dx-text-box>
      <div>Description</div>
      <dx-text-area formControlName="description"></dx-text-area>
    </form>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="{
      text: 'Save',
      onClick: addFishingGroup,
      type: 'default',
      disabled: !addFishingGroupForm.valid
    }"
  >
  </dxi-toolbar-item>
</dx-popup>
<dx-popup
  [visible]="deleteFishingGroupBool"
  [title]="'Delete a trip'"
  (onHiding)="closeDeletePopup()"
  [height]="'auto'"
  [width]="500"
>
  <div style="text-align: center; margin-bottom: 20px">
    <b style="font-size: large"
      >Are you sure you want to delete this fishing group?</b
    >
  </div>
  <div style="display: flex; justify-content: end">
    <dx-button
      (onClick)="deleteFishingGroup()"
      class="action-button-delete"
      text="Yes"
      type="default"
    ></dx-button>
    <div style="width: 5px"></div>
    <dx-button
      (onClick)="closeDeletePopup()"
      class="action-button-delete"
      text="Cancel"
      type="default"
    ></dx-button>
  </div>
</dx-popup>

<dx-popup
  *ngIf="editFishingGroupBool"
  [visible]="true"
  [title]="'Edit a Fishing group'"
  (onHiding)="closeEditFishingGroupDialog()"
  [height]="'auto'"
  [width]="500"
>
  <div *dxTemplate="let data of 'content'">
    <form [formGroup]="editFishingGroupForm">
      <div>Name</div>
      <dx-text-box formControlName="name"></dx-text-box>
      <div>Description</div>
      <dx-text-area formControlName="description"></dx-text-area>
      <div>
        Users:
        <dx-button [stylingMode]="'text'" (onClick)="addUser()">
          <div class="fas fa-plus"></div>
        </dx-button>
      </div>
      <ul>
        <li *ngFor="let user of editFishingGroupForm.get('users')?.value">
          {{ user }}
          <dx-button
            *ngIf="notAuthor(user)"
            [stylingMode]="'text'"
            (onClick)="removeUser(user)"
          >
            <div class="fas fa-trash"></div>
          </dx-button>
        </li>
        <li *ngIf="addUserBool">
          <dx-text-box
            placeholder="Enter user email..."
            [width]="300"
            [showClearButton]="true"
            (onValueChanged)="userChange($event)"
          >
            <dxi-button name="clear"></dxi-button>
            <dxi-button
              name="save"
              location="after"
              [options]="addUserOptions"
            ></dxi-button
          ></dx-text-box>
        </li>
      </ul>
    </form>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="{
      text: 'Save',
      onClick: editFishingGroup,
      type: 'default',
      disabled: !editFishingGroupForm.valid
    }"
  >
  </dxi-toolbar-item>
</dx-popup>
