<div class="card mt-4">
  <div class="card-header bg-light">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="mt-1 mb-1">Details</h4>
      <div class="d-flex">
        <dx-button
          *ngIf="canModifyTrip()"
          hint="Edit Trip"
          (onClick)="editTrip()"
          [disabled]="!isConnected()"
        >
          <i class="fas fa-edit"></i>
        </dx-button>
        <div style="width: 5px"></div>
        <dx-button
          *ngIf="canModifyTrip()"
          hint="Delete Trip"
          (onClick)="openDeleteDialog()"
          [disabled]="!isConnected()"
        >
          <i class="fas fa-trash"></i>
        </dx-button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-6">
        <h5>Name</h5>
        <p>{{ trip.name }}</p>
      </div>
      <div class="col-12 col-md-6">
        <h5>Type</h5>
        <p>{{ trip.type }}</p>
      </div>
      <div class="col-12 col-md-6">
        <h5>Fisherman</h5>
        <p>{{ trip.user }}</p>
      </div>
      <div class="col-12 col-md-6">
        <h5>Date</h5>
        <p>{{ trip.time | date : "mediumDate" }}</p>
      </div>
      <div class="col-12">
        <h5>Description</h5>
        <p>{{ trip.description }}</p>
      </div>
    </div>
  </div>
</div>

<dx-popup
  *ngIf="editTripBool"
  [visible]="editTripBool"
  [title]="'Add a trip'"
  (onHiding)="closedPopup()"
  [height]="'auto'"
  [width]="500"
>
  <div *dxTemplate="let data of 'content'">
    <form [formGroup]="form">
      <div>Name</div>
      <dx-text-box [required]="true" formControlName="name"></dx-text-box>
      <div>Time</div>
      <dx-date-box formControlName="time"></dx-date-box>
      <div>Type</div>
      <dx-text-box [required]="true" formControlName="type"></dx-text-box>
      <div>Description</div>
      <dx-text-area formControlName="description"></dx-text-area>
      <div>Coordinates</div>
      <div style="display: flex; align-items: center">
        <div style="margin-right: 5px">lat:</div>
        <dx-number-box
          formControlName="coordinates1"
          style="flex: 1"
        ></dx-number-box>
        <div style="width: 10px"></div>
        <div style="margin-right: 5px">lng:</div>
        <dx-number-box
          formControlName="coordinates2"
          style="flex: 1"
        ></dx-number-box>
      </div>
    </form>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="{
      text: 'Save',
      onClick: saveTrip,
      type: 'default',
      disabled: !form.valid
    }"
  >
  </dxi-toolbar-item>
</dx-popup>
<dx-popup
  [visible]="deleteDialog"
  [title]="'Delete a trip'"
  (onHiding)="closeDeleteDialog()"
  [height]="'auto'"
  [width]="500"
>
  <div style="text-align: center; margin-bottom: 20px">
    <b style="font-size: large">Are you sure you want to delete this trip?</b>
  </div>
  <div style="display: flex; justify-content: end">
    <dx-button
      (onClick)="deleteTrip()"
      class="action-button-delete"
      text="Yes"
      type="default"
    ></dx-button>
    <div style="width: 5px"></div>
    <dx-button
      (onClick)="closeDeleteDialog()"
      class="action-button-delete"
      text="Cancel"
      type="default"
    ></dx-button>
  </div>
</dx-popup>
